*
{
    margin:0px;
    padding: 0px;
}
body
{
    width: 100%;
    height: 680px;
    background-image: url("../images/img-bg.jpg");
   
   
}
#table
{
    width: 100%;
    height: 100%;
   
}
#debut
{
    width: 100%;
    height: 15%;
    background-color: black;
    
}
#debut h3
{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
#quiz
{
    width: 10%;
    float: left;
    height: 100%;
  
    
}
#quiz img
{
    width: 100%;
    height: 100%;
}
#formulaire
{
    width: 50%;
    height: 55%;
    
    border-radius: 5px;
    border:grey solid 1px;
    margin: auto;
    background: white;

}
#scinder
{
    width: 100%;
    height: 100%;
   
}
#left
{
    width: 60%;
    height: 100%;
    
    float: left;
}
#right
{
    width: 35%;
    height: 50%;
   
    float: right;
}
#forpicture
{
    width: 90%;
    height: 80%;
    border-radius: 50%;
    margin-top: 100px;
    border:darkturquoise solid 2px;
}
#forpicture img
{
    width: 50%;

    height: 100%;
   position: absolute;
}
#text
{
    width: 100%;
    height: 5%;
    border-bottom:grey solid 1px;
}
#text h4
{
    margin-left: 10px;
}
#text p
{
    margin-left: 10px;
}
#input
{
    width: 100%;
    height: 90%;
    
}
input[type="text"]
{
    width: 80%;
    margin-left: 50px;
    height: 25px;
    margin-top: 5px;
    border: grey solid 1px;
    border-radius: 5px;

}
input[type="password"]
{
    width: 80%;
    margin-left: 50px;
    border-radius: 5px;
    height: 25px;
    border: grey solid 1px;

}
#input p{
    margin-left: 50px;
    color: grey;
    font-size: 20px;
}
button[type="submit" ]
{
    width: 30%;
    height: 25px;
    background: teal;
    color: white;
    margin-top: 15px;
    border-radius:10px;
    

}
button[type="file" ]
{
    width: 30%;
    height: 30px;
    background: teal;
    color: white;
    
    border-radius:10px;
    

}