*
{
    margin: 0;
    padding: 0;
}
body
{
width: 100%;
height: 900px;
}
#plan
{
    width: 80%;
    height: 80%;
    border: teal solid 1px;
    margin-left: 300px;
    margin-top: 100px;
    
}
#bloc
{
    width: 100%;
    height: 10%;
    background-color: steelblue;
}

#global
{
    
    width: 60%;
    height: 75%;
    margin-top:100px;
    margin-left: 300px;
    background: white;
    border-radius: 10px;
    border: teal solid 1px;
    
    
}
#bton
{
    width: 25%;
    height: 5%;
    border: red solid 1px;
    float: right;
}
#gauche
{
    width: 60%;
    height: 100%;
    
    float: left;
   
}
#droite
{
    width: 35%;
    height: 20%;
    border-radius: 50%;
    margin-top:100px;
    border:royalblue solid 1px;
   
    float: right;
    border: teal solid;
}
#text
{
    width: 100%;
    height: 10%;
    border-bottom:grey solid 1px;
}
#text h1
{
    margin-left: 10px;
}
#text p
{
    margin-left: 10px;
}
#input
{
    width: 100%;
    height: 90%;
    
}
input[type="text"]
{
    width: 80%;
    margin-left: 50px;
    height: 50px;
    border: grey solid 1px;

}
input[type="password"]
{
    width: 80%;
    margin-left: 50px;
    height: 50px;
    border: grey solid 1px;

}
#input p{
    margin-left: 50px;
    color: grey;
    font-size: 20px;
}
input[type="submit" ]
{
    width: 25%;
    height: 50px;
    background: teal;
    color: white;
    margin-top: 50px;
}
#paraph
{
    width: 100%;
    height: 100%;
    border: black solid 1px;

}
#paraph h1
{
    text-align: center;
    color: white;
}

