body
{
    margin: 0px;
    padding: 0px;
}

.top
{
    background: black;
    height: 80px;
}
.toff
{
    background-image: url("quiz.jpeg");
    background-size: 35%;
    height: 70px;
    width: 10%;
    margin-left: 30px;
    background-repeat: no-repeat;
}
.midle
{
    background-image: url("img-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}
.text.text{
    color:white;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 45%;
    text-align: center;
    font-weight: bold;
}
.tableau
{
    background: #52baca;
    height: 80px;
   width: 98%;
   margin-top: 5px;
   position: absolute;
   margin-left: 10px;

}
.action
{
    background-size: 5%;
    height: 30px;
    width: 10%;
    margin-right: 30px;
    float: right;
}
button{
    width: 100%;
    height: 100%;
    font-size: 15px;
    background: turquoise;
    color: white;
    margin-top: 20px;
}
.consigne h3{
    color:white;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 35%;
    text-align: center;
    font-weight: bold;
}
.sider
{
    width: 38%;
    height:450px;
    float: left;
    margin-left: 10px;
   
    position: relative;
    margin-top: 90px;
    background: white;
    
    
}
.user_pic
{
    width: 100%;
    float: left;
    position: absolute;
    height: 200px;
    background: rgb(168, 222, 231);
    
}
.photo
{

    width: 40%;
    height: 75%;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
    border: peru solid 1px;
}
.photo img
{
    width: 90%;
    height: 90%;
  left: 4%;
  top: 4%;
    position: absolute;
}
.icone1
{
    width: 100%;
    height: 50px;
   right: 2%;
    position:absolute;
    top: 50%;
    
}

.icone-1
{
    width: 5%;
    height: 50%;
    float: right;
   
    margin-right: 10px;
    margin-top: 5px;
}
.icone-1 img
{
    width: 100%;
    height: 100%;
}
.lien
{
    width: 60%;
    height: 100%;
    float: left;
    border: blue  1px;
    margin-left: 10px;
    position: absolute;
    text-align: center;
}
.lien h4{
    text-align: center;
    font-weight: bold;
    color: grey;
    font-size: 20px;
    position: absolute;
    left:45px;
    margin-top: 10px;
    
}
.icone2
{
    width: 100%;
    height: 50px;
    right: 2%;
    position:absolute;
    top: 63%;
    
}

.icone-2
{
    width: 5%;
    height: 50%;
    float: right;
    
    margin-right: 10px;
    margin-top: 5px;
}
.icone-2 img
{
    width: 100%;
    height: 100%;
}

.lien1 h4{
    text-align: center;
    font-weight: bold;
    color: grey;
    font-size: 20px;
    position: absolute;
    left:45px;
    margin-top: 10px;
    
}
.icone3
{
    width: 100%;
    height: 50px;
    right: 2%;
    position:absolute;
    top: 76%;
    
}

.icone-3
{
    width: 6%;
    height: 50%;
    float: right;
   
    margin-right: 10px;
    margin-top: 5px;
}
.icone-3 img
{
    width: 100%;
    height: 100%;
}
.icone4
{
    width: 100%;
    height: 50px;
    right: 2%;
    position:absolute;
    top: 85%;
    
}

.icone-4
{
    width: 6%;
    height: 50%;
    float: right;
   
    margin-right: 10px;
    margin-top: 5px;
}
.icone-4 img
{
    width: 100%;
    height: 100%;
}
.right
{
    float: left;
    width: 58%;
    height: 100%;
    
    margin-top: 10px;
    position: absolute;
    left: 40%;
    top: 30%;
    background-color: white;
}